<div id="chart-lam">
    <!--玉米叶面积仪数据图表-->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3>叶面积仪</h3>
            </div>
            <div class="navbar-right">
                <ul class="nav nav-pills">
                    <li role="presentation" class="dropdown">
                        <button type="button" class="btn btn-sec dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span>DOY：</span>
                            <span>177</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">177</a></li>
                            <li><a href="javascript:void(0)">185</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--图表区域-->
    <div class="chart-show">
        <div class="row">
            <div class="col-lg-12">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-content" id="chart-lam-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>