<div id="chart-sr">
    <!--气孔阻力图表-->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3>气孔阻力</h3>
            </div>
            <div class="navbar-right">
                <ul class="nav nav-pills">
                    <li role="presentation" class="dropdown">
                        <button type="button" class="btn btn-sec dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span>DOY：</span>
                            <span>177</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">177</a></li>
                            <li><a href="javascript:void(0)">185</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <button type="button" class="btn btn-sec dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span>TRT：</span>
                            <span>1</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--图表区域-->
    <div class="chart-show">
        <div class="row">
            <div class="col-lg-4
                        col-md-6
                        col-sx-12">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-title">Part 1</div>
                    <div class="chart-show-panel-content" id="chart-sr-1"></div>
                </div>
            </div>
            <div class="col-lg-4
                        col-md-6
                        col-sx-12">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-title">Part 2</div>
                    <div class="chart-show-panel-content" id="chart-sr-2"></div>
                </div>
            </div>
            <div class="col-lg-4
                        col-md-6
                        col-sx-12 ">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-title">Part 3</div>
                    <div class="chart-show-panel-content" id="chart-sr-3"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>