<div id="chart-yield">
    <!--玉米产量图表-->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3>产量</h3>
            </div>
        </div>
    </nav>
    <!--图表区域-->
    <div class="chart-show">
        <div class="row">
            <div class="col-lg-12">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-content" id="chart-yield-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="chart-show-panel">
                    <div class="chart-show-panel-title">原始数据</div>
                    <div class="chart-show-panel-content" id="chart-yield-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>