/**
 * 作者: lwh
 * 时间: 2020.3.6
 */

/*设置页面背景图片*/
body {
    background-image: url("../src/adminLogin_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*设置登录框所在区域*/
#loginFormArea {
    margin-top: 50px;
    background-color: white;
    box-shadow:5px 5px 10px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
/*设置登录框标题*/
#loginFormTitle {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
/*设置按钮*/
#loginForm button {
    width: 100%;
    margin-top: 10px;
}
