/**
 * 作者: lwh
 * 时间: 2020.4.10
 * 描述：页面导航栏定制css
 */


/*导航栏*/
#index-navbar .navbar-default {
    background-color: #282841;
    border-color: #2f734e;
    color: #dddddd;
}

/*适用于小屏幕的坍塌导航栏触发按钮*/
#index-navbar .navbar-header button {
    border: none;
    background-color: #383855;
}

#index-navbar .navbar-header button:hover,
#index-navbar .navbar-header button:active {
    background-color: #474769;
}

#index-navbar .navbar-default .navbar-header .icon-bar {
    background-color: #2f734e;
}

/*适用于小屏幕的坍塌导航栏内元素边框*/
#index-navbar .navbar-default .navbar-collapse.in,
#index-navbar .navbar-default .navbar-collapse.collapsing,
#index-navbar .navbar-default .navbar-collapse.in > ul,
#index-navbar .navbar-default .navbar-collapse.collapsing > ul,
#index-navbar .navbar-default .navbar-collapse.in > form,
#index-navbar .navbar-default .navbar-collapse.collapsing > form {
    border-color: #2f734e;
}

/*导航栏文字*/
#index-navbar .navbar-default a {
    color: #dddddd;
}

/*导航栏商标*/
#index-navbar .navbar-default .navbar-header > div {
    width: 150px;
}

/*导航栏商标渐变层*/
#index-navbar .navbar-default .navbar-header > div a {
    z-index: 0;
    height: 50px;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: right;
    color: #2f734e;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    transition: width 0.3s;
}

/*导航栏商标发光层*/
#index-navbar .navbar-default .navbar-header > div div {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 52px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    filter: blur(10px);
    transition: width 0.3s;
}

/*导航栏商标渐变(使用keyframes)和弹出(使用transition)动画*/
#index-navbar .navbar-default .navbar-header > div:hover div,
#index-navbar .navbar-default .navbar-header > div:hover a {
    animation: sun linear 2s infinite;
    width: 100px;
}

@keyframes sun {
    0% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/*导航栏菜单项*/
#index-navbar .navbar-default .navbar-nav li a {
    transition: all 0.3s;
}

#index-navbar .navbar-default .navbar-nav li.active a {
    background-color: #2f734e;
    color: white;
}

#index-navbar .navbar-default .navbar-nav li a:hover,
#index-navbar .navbar-default .navbar-nav li a:active {
    background-color: #2f734e;
    color: white;
}

/*搜索框搜索按钮*/
#index-navbar #index-navbar-searchFrom .btn-sec {
    background-color: #383855;
}

#index-navbar #index-navbar-searchFrom .btn-sec:hover,
#index-navbar #index-navbar-searchFrom .btn-sec:active {
    background-color: #474769;
}

/*搜索框错误提示显示div*/
#index-navbar #index-navbar-searchFrom #errors {
    padding-left: 2px;
    width: 180px;
}

/*导航栏管理员信息下拉标签已打开*/
#index-navbar .navbar-default .navbar-nav .dropdown.open > a {
    background-color: #2f734e;
    color: white;
}

/*导航栏管理员信息下拉菜单框*/
#index-navbar .navbar-default .navbar-nav .open .dropdown-menu {
    border: none;
    padding: 0;
    background: #282841;
}

#index-navbar .navbar-default .navbar-nav .open .dropdown-menu li a {
    transition: all 0.3s;
}

#index-navbar .navbar-default .navbar-nav .open .dropdown-menu li:last-of-type :hover,
#index-navbar .navbar-default .navbar-nav .open .dropdown-menu li:last-of-type :active {
    font-weight: bold;
    color: #cd4f4d;
    transition: all 0.3s;
}