<!--
 作者: lwh
 时间: 2020.2.27
 描述: 登陆失败的提示模态框
-->
<div class="modal fade bs-example-modal-sm" id="loginErrorModal" tabindex="-1" role="dialog" aria-labelledby="loginErrorModalLabel" aria-describedby="登录出错提示">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>(￣_￣|||)</h4>
            </div>
            <div class="modal-body">
                <h4>用户名或密码错误！</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
