<!--
 作者: lwh
 时间: 2020.2.26
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 设置页面初始化大小和缩放值 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 页面标题 -->
    <title>请登录</title>
    <!-- 网页图标 -->
    <link rel="icon" href="/../static/src/adminLogin_icon.png" sizes="32x32">
    <!-- 引入bootstrap默认css样式 -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入bootstrapValidator默认css样式 -->
    <link href="../static/lib/bootstrapValidator/css/bootstrapValidator.min.css" rel="stylesheet">
    <!-- 引入jquery和bootstrap的js插件 -->
    <!-- 注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前 -->
    <script src="../static/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/lib/bootstrapValidator/js/bootstrapValidator.min.js"></script>
    <!-- 引入jquery的md5加密插件
    <script src="../../lib/jquerymd5/md5.pro.js"></script>-->
    <!-- 引入自己的js/css库文件
    <script src="../js/myLib.js"></script>-->
    <link href="../static/main/css/adminLogin.css" rel="stylesheet">
    <script type="text/javascript" src="../static/main/js/adminLogin.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- 标题 -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <span>玉米的生长及环境数据管理系统</span>
            </div>
        </div>
        <!-- 登陆表单 -->
        <div class="row">
            <div class="col-lg-3 col-lg-offset-4">
                <form id="loginForm" class="form-horizontal">
                    <fieldset>
                        <legend>请登录</legend>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="userNameInput">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">密码</label>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" name="passwordInput">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-4 checkbox">
                                <label data-toggle="tooltip" data-placement="right" title="3天后失效">
                                    <input type="checkbox" name="rememberCheckbox" value="1">记住我
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-3">
                                <button type="submit" class="btn btn-primary col-lg-3" data-toggle="modal" data-target=".bs-example-modal-lg">登录</button>
                                <span class="col-lg-2"></span>
                                <button type="button" class="btn btn-primary col-lg-3" id="resetButton">重置</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- 动态载入模态框 -->

    </div>
</body>
</html>
