<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录界面</title>
</head>
<body>
    <h2>管理系统登录界面</h2>
    <form method="post" th:object="${loginAdmin}" th:action="@{/adminValidate}">
        <label>
            <input th:field="*{adminName}" th:text="*{adminName}"><br>
        </label>
        <label>
            <input th:field="*{password}"><br>
        </label>
        <button>登录</button>
    </form>
</body>
</html>