<div id="alert" aria-describedby="自定义警告框" aria-labelledby="alert-title" class="modal fade" role="dialog"
     tabindex="-1">
    <!--
    作者: lwh
    时间: 2020.4.28
    描述: 自定义样式的alert的模态框
    -->
    <div aria-hidden="true" class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header alert-modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="alert-title">系统提示</h4>
            </div>
            <div class="modal-body alert-modal-body">
                <div>
                    <h4 id="alert-message">用户名或密码错误！</h4>
                </div>
                <div class="alert-modal-body-foot">
                    <button class="btn btn-main" data-dismiss="modal" type="button">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>