<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script type="text/javascript" src="../static/extlib/echarts/echarts.js"></script>
</head>
<body>
    <div id="testChart" style="width: 600px; height: 400px"></div>
    <script type="text/javascript">
        let chartDom = document.getElementById("testChart");
        let testChart = echarts.init(chartDom, "light");
        let chartData = [345, 383, 897, 645, 244, 989, 235];
        testChart.setOption({
            legend: {},
            tooltip: {},
            xAxis: {
                type: "category",
                data: [
                    "Mon", "Tue", "Wed", "Thu", "Fri", "Sta", "Sun"
                ]
            },
            yAxis: {},
            series: [
                {
                    type: "bar",
                    data: chartData
                },
                {
                    type: "line",
                    data: chartData
                }
            ]
        })
    </script>
</body>
</html>