<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--bootstrap针对移动设备优化，设置页面宽度和初始缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理界面</title>
    <!--引入bootstrap文件-->
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--js插件引用-->
    <script type="text/javascript" src="../static/extlib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/extlib/bootstrap-3.3.7/js/bootstrap.js"></script>

    <!--引入echarts-->
    <script type="text/javascript" src="../static/extlib/echarts/echarts.js"></script>
    <style rel="stylesheet">
        body {
            padding-top: 60px;
            background: #262626;
        }


        ._sidebar{
            position: fixed;
            z-index: 10;
            width: 16.7%;
            height: 90%;
            border: dotted 3px;
            border-radius: 20px;
            margin-left: 10px;
        }
        ._sidebar ul{

        }
        ._sidebar li:hover{
            background: none;
        }
        ._chart-row{
            margin-left: 20%;
            position: relative;
            height: 100%;

            border: 2px double;
            padding: 20px;
        }

        ._chart-show-part{
            height: 550px;
        }

        ._attr-choose{
            padding-top: 10px;
        }
    </style>
    <!--获取图表-->
    <script type="text/javascript">
        $(document).ready(function () {
            chartInit();

            addCornHandChListener();
            addCornLeafListener();

        });

        /*初始化界面图表，获取默认图表数据*/
        function chartInit() {
            cornLeafChart();
        }

        /*玉米叶TRT选择监听*/
        function addCornLeafListener() {
            $('._chart-show-leaf ._menu-item').click(function () {
                //直接使用this并不能获得触发事件的对象，需要使用$(this)
                let innerText = $(this).text();
                cornLeafChart(innerText);
            });
        }

        /*玉米株高和叶绿素选择监听*/
        function addCornHandChListener() {

        }
        /*初始化图表节点*/
        function getAndInitChart(chartDomId, theme = "dark") {
            let chartDom = document.getElementById(chartDomId);
            return echarts.init(chartDom, theme)
        }

        /*向后台发送请求获取数据*/
        function getChartData(requestUrl, jsonStr, flag = 0) {
            let chartData = [];
            if (requestUrl != null && flag === 1) {//带请求参数
                $.ajax({
                    url: requestUrl,
                    type: "post",
                    data: jsonStr,
                    dataType: "text",
                    contentType: "application/json;charset=UTF-8",
                    async: false,
                    success: data => {
                        if (data === "0"){
                            alert("获取图表数据失败");
                        }else {
                            //alert(data);
                            chartData = JSON.parse(data);
                        }
                    }
                })
            }else if(requestUrl != null && flag === 0){
                $.ajax({
                    url: requestUrl,
                    type: "post",
                    contentType: "application/json;charset=UTF-8",
                    async: false,
                    success: data => {
                        if (data === "0"){//获取数据失败
                            alert("图表数据获取失败");
                        }else {
                            //alert(data);
                            chartData = JSON.parse(data);
                        }
                    }
                })
            }

            return chartData?chartData:null;
        }

        /*提取JSON数组对象中的某一列数据*/
        function extractCol(chartData, colName) {
            let colData = [];
            for (let row = 0;row < chartData.length;row++){
                colData.push(chartData[row][colName]);
            }
            return colData
        }

        /*提取JSON数组对象中所有数据*/
        function extractAll(chartData) {
            let allData = [];
            //alert(chartData);
            for (let row = 0;row < chartData.length ;row++){
                let rowData = [];
                for (let x in chartData[row]){
                    rowData.push(chartData[row][x]);
                }
                allData.push(rowData);
            }
            return allData;
        }

        /*从JSON数组对象中根据某个属性值筛选部分对象*/
        function screenDataByAttr(chartData, attrName, attrValue) {
            let result = [];
            for (let row = 0;row < chartData.length;row++){
                if (chartData[row][attrName] != null && attrValue === chartData[row][attrName]){
                    result[row] = chartData[row];
                }
            }
            return result;
        }

        /*画玉米株高和叶绿素图
        * 函数根据DOY属性一次获得多条数据
        * 画图时则根据TRT属性,确定一个地块,画三个图*/
        function cornHeightAndChloChart() {
            let test = getChartData("corn/cornHeightAndChloDOY", JSON.stringify({DOY: "177"}), 1);
        }

        /*画玉米叶数据
        * 函数根据TRT一次获得多条数据并画图*/
        function cornLeafChart(TRT = "1-1") {
            let extractData = extractAll(getChartData("corn/cornLeafTRT", JSON.stringify({TRT: TRT}), 1));
            let cornLeafOption = {
                legend: {},
                tooltip: {},
                xAxis: {type: "category"},
                yAxis: {},
                dataset: {
                    source: extractData
                },
                series: [
                    {
                        type: "line",
                        name: "LeafPerimeter",
                        encode: {
                            x: 0,
                            y: 3
                        }
                    },
                    {
                        type: "line",
                        name: "LeafArea",
                        encode: {
                            x: 0,
                            y: 1
                        }
                    },
                    {
                        type: "line",
                        name: "LeafNumber",
                        encode: {
                            x: 0,
                            y: 2
                        }
                    }
                ]
            };
            let cornLeafChart = getAndInitChart("chart-show-leaf-chart");
            cornLeafChart.setOption(cornLeafOption)
        }
    </script>
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default navbar-fixed-top _topbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">地图</a></li>
                <li><a href="#">图表</a></li>
                <li class="dropdown">
                    <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">其他<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">新建用户</a></li>
                        <li><a href="#">添加数据</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">用户名<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">用户信息</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<aside>

</aside>
<!--左侧竖直导航栏-->
<div class="_sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">类别</a></li>
        <li role="presentation"><a href="#">玉米作物</a></li>
        <li role="presentation"><a href="#">气象相关</a></li>
        <li role="presentation"><a href="#">土壤相关</a></li>
    </ul>
</div>

<div class=" _chart-row">
    <div class="container-fluid">
        <!--右侧图表区域-->
        <!--玉米株高和叶绿素-->
        <div class="row _chart-show-cornHandCh" id="chart-show-cornHandCh">
            <div>
                <ul class="nav nav-tabs">
                    <li><H3>株高和叶绿素相关</H3></li>
                    <div class="navbar-right">
                        <div class="dropdown btn-group _attr-choose">
                            <button type="button" class="btn btn-default">选择DOY</button>
                            <button type="button" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="_menu-item">1-1</a></li>
                                <li><a class="_menu-item">1-2</a></li>
                                <li><a class="_menu-item">1-3</a></li>
                                <li><a class="_menu-item">2-1</a></li>
                            </ul>
                        </div>
                        <div class="dropdown btn-group _attr-choose">
                            <button type="button" class="btn btn-default">选择TRT</button>
                            <button type="button" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="_menu-item">1-1</a></li>
                                <li><a class="_menu-item">1-2</a></li>
                                <li><a class="_menu-item">1-3</a></li>
                                <li><a class="_menu-item">2-1</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-12 _chart-show-part _chart-show-HandCh-chart" id="chart-show-HandCh-chart">
                <div class="col-md-4" id="chart-show-HandCh-chart-1"></div>
                <div class="col-md-4" id="chart-show-HandCh-chart-2"></div>
                <div class="col-md-4" id="chart-show-HandCh-chart-3"></div>
            </div>
        </div>
        <!--玉米叶-->
        <div class="row _chart-show-leaf">
            <div>
                <ul class="nav nav-tabs">
                    <li><H3>玉米叶相关</H3></li>
                    <div class="navbar-right">
                        <div class="dropdown btn-group _attr-choose">
                            <button type="button" class="btn btn-default">选择TRT</button>
                            <button type="button" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="_menu-item">1-1</a></li>
                                <li><a class="_menu-item">1-2</a></li>
                                <li><a class="_menu-item">1-3</a></li>
                                <li><a class="_menu-item">2-1</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-12 _chart-show-part _chart-show-leaf-chart" id="chart-show-leaf-chart"></div>
            <!--<button class="btn btn-block" id="testButton">Test</button>-->
        </div>
        <!--玉米产量-->
        <div class="row _chart-show-yield" id="chart-show-yield">
            <h3>产量相关</h3>
            <div></div>
        </div>
        <div id="testChart" style="width: 600px; height: 400px"></div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#testButton").click(function () {
            getChartData("corn/cornLeafTRT", JSON.stringify({TRT:"1.1"}), 1);
        })
    });


    let testChart = getAndInitChart("testChart");
    let chartData = [345, 383, 897, 645, 244, 989, 235];
    testChart.setOption({
        legend: {},
        tooltip: {},
        xAxis: {
            type: "category",
            data: [
                "Mon", "Tue", "Wed", "Thu", "Fri", "Sta", "Sun"
            ]
        },
        yAxis: {},
        series: [
            {
                type: "bar",
                data: chartData
            },
            {
                type: "line",
                data: chartData
            }
        ]
    })
</script>
</body>
</html>