<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>fuck</p>
<!--    <script type="text/javascript" src="../static/extlib/supermap/dist/leaflet/include-leaflet.js"></script>-->
<!--    <script type="text/javascript">-->
<!--var host = window.isLocal ? window.server : "https://iserver.supermap.io";-->
<!--var map, resultLayer, url = host + "/iserver/services/map-world/rest/maps/World";-->
<!--map = L.map('map', {-->
<!--    preferCanvas: true,-->
<!--    crs: L.CRS.EPSG4326,-->
<!--    center: [34, 108],-->
<!--    maxZoom: 18,-->
<!--    zoom: 3-->
<!--});-->
<!--L.supermap.tiledMapLayer(url).addTo(map);-->
<!--resultLayer = L.featureGroup().addTo(map);-->
<!--measureDistance();-->

<!--function measureDistance() {-->
<!--    resultLayer.addLayer(polyLine);-->
<!--    resultLayer.addLayer(marker1);-->
<!--    resultLayer.addLayer(marker2);-->
<!--    var distanceMeasureParam = new SuperMap.MeasureParameters(polyLine);-->
<!--    L.supermap-->
<!--        .measureService(url)-->
<!--        .measureDistance(distanceMeasureParam, function (serviceResult) {-->
<!--            var content = resources.text_distance+"：" + serviceResult.result.distance + resources.msg_m;-->
<!--            marker1.bindPopup(content).openPopup(marker1.getLatLng());-->
<!--        });-->


<!--}-->
<!--</script>&ndash;&gt;-->
</body>
</html>