<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <script type="text/javascript" src="../static/lib/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $("#add").click(function () {
            let model = {
                adminName:"tom",
                password:"123456",
                mail:"wtf"
            };
            let jsonStr = JSON.stringify(model);
            $.ajax({
                url:"addAdmin",
                type:"post",
                data:jsonStr,
                dataType:"text",
                contentType:"application/json;charset=UTF-8",
                async:false,
                success:function () {
                    alert("添加成功");
                }
            })
        });
        $("#delete").click(function () {
            let model = {
                adminName: "Tom",
                password: "123456"
            }
            let jsonStr = JSON.stringify(model);
            $.ajax({
                url: "deleteAdmin",
                type: "post",
                data: jsonStr,
                dataType: "text",
                contentType:"application/json;charset=UTF-8",
                async:false,
                success:function () {
                    alert("删除成功");
                }
            })
            })
        })
    </script>
</head>
<body>
    <h1>This is a fucking manage html</h1>
    <ul th:each="tmpAdmin, adminStat:${session.allAdmins}">
        <li th:text="${tmpAdmin.adminName}"></li>
        <li th:text="${tmpAdmin.mail}"></li>
    </ul>
    <button th:id="add">添加</button><br>
    <button id="delete">删除</button>
</body>
</html>