<div id="index-navbar">
    <!--
     作者: lwh
     时间: 2020.4.10
     描述: index导航条
    -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="javascript:void(0)" class="navbar-brand">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    </a>
                    <div></div>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">地图</a></li>
                    <li><a href="javascript:void(0)">图表</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user left" aria-hidden="true"></span>
                            <span id="index-navbar-adminName">&nbsp;管理员&nbsp;</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="needComponent">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;我的账号
                                </a>
                            </li>
                            <li class="needComponent">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;添加管理员
                                </a>
                            </li>
                            <li class="needComponent">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;管理员列表
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="logout()">
                                    <div>
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;退出登录
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" id="index-navbar-searchFrom">
                    <div class="form-group">
                        <label class="control-label" for="searchContentInput"></label>
                        <input type="text" class="form-control ipt-dark" id="searchContentInput"
                               name="searchContentInput" placeholder="输入内容以搜索">
                    </div>
                    <button type="submit" class="btn btn-sec"
                            data-loading-text="<span class='glyphicon glyphicon-search' aria-hidden='true'></span> 搜索中...">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                    </button>
                    <div class="form-group">
                        <div id="errors"></div>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>