<div class="sidebar" id="index_body_sidebar">
    <!--
    作者: lwh
    时间: 2020.5.20
    描述: 侧边导航栏
    -->
    <ul>
        <li>
            <a href="javascript:void(0)">数据分类</a>
        </li>
        <li>
            <a data-toggle="collapse" aria-expanded="false" aria-controls="collapse-sidebar-m1"
               href="#collapse-sidebar-m1">作物相关参数</a>
            <div class="collapse" id="collapse-sidebar-m1">
                <div class="well">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">株高和叶绿素</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">叶面积指数</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">叶面积仪数据</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">气孔阻力</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">产量</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" aria-expanded="false" aria-controls="collapse-sidebar-m2"
               href="#collapse-sidebar-m2">土壤相关参数</a>
            <div class="collapse" id="collapse-sidebar-m2">
                <div class="well">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">降雨量和灌溉量</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">体积含水量</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">土壤含水量</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" aria-expanded="false" aria-controls="collapse-sidebar-m3"
               href="#collapse-sidebar-m3">气象相关参数</a>
            <div class="collapse" id="collapse-sidebar-m3">
                <div class="well">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">标准气象站</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" aria-expanded="false" aria-controls="collapse-sidebar-m4"
               href="#collapse-sidebar-m4">UAV光谱参数</a>
            <div class="collapse" id="collapse-sidebar-m4"></div>
        </li>
    </ul>
    <div class="sidebar-prompt"></div>
    <button class="btn-sidebar"></button>
</div>