<div class="container mypanel" id="index-body-allAdmin" xmlns:th="http://www.thymeleaf.org">
    <!--
     作者: lwh
     时间: 2020.6.2
     描述：所有管理员信息及删除管理员
    -->
    <div class="mypanel-header">
        <div class="media">
            <div class="media-left">
                <img src="../static/src/list.png" th:src="@{/src/list.png}" alt="管理员列表">
            </div>
            <div class="media-right">
                <h2 class="media-heading" id="allAdmin-title-text">管理员列表</h2>
            </div>
        </div>
    </div>
    <div class="mypanel-title-content-split"></div>
    <div class="mypanel-content">
        <table class="table table-hover" id="allAdmin-table">
            <thead>
            <tr>
                <th>#</th>
                <th>管理员账号</th>
                <th>密码</th>
                <th>联系方式</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>