<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--bootstrap针对移动设备优化，设置页面宽度和初始缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理界面</title>
    <!-- 引入bootstrap默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/extlib/bootstrap-3.3.7/css/bootstrap.min.css}">
    <!-- 引入bootstrapValidator默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css"
          th:href="@{/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css}">
    <!-- 引入jquery和bootstrap的js插件 -->
    <!-- 注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前 -->
    <script type="text/javascript" src="../static/extlib/jquery-3.4.1/jquery-3.4.1.min.js"
            th:src="@{/extlib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrap-3.3.7/js/bootstrap.min.js"
            th:src="@{/extlib/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js"
            th:src="@{/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js}"></script>
    <!--    引入Echarts-->
    <script type="text/javascript" src="../static/extlib/echarts/echarts.js"
            th:src="@{/extlib/echarts/echarts.js}"></script>
    <script type="text/javascript" src="../static/extlib/echarts/theme/purple.js"
            th:src="@{/extlib/echarts/theme/purple.js}"></script>


</head>
<body>


</body>
</html>